@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
    --hoverColor: #625bda;
}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url('/images/pattern-background-mobile.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--Paleblue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h4{
    color: var(--Darkblue);
}

.card{
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    width: 100%;
}
.card #wrapper{
    padding: 20px;
    background-color: inherit;
}
#wrapper p{
    margin: 20px 0px;
    color: var(--Desaturatedblue);
}

#wrapper #plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--Verypaleblue);
    border-radius: 5px;
    margin: 10px 0px;
}
#wrapper #plan img{
    width: 50px;
    margin-right: 20px;
}
#wrapper #plan div{
    text-align: left;
    flex: 1;
}
#wrapper #plan div span{
    color: var(--Desaturatedblue);
} 
#wrapper #plan a{
    color: var(--Brightblue);
    text-decoration: underline;
    font-weight: 650;
}
#wrapper #plan a:hover{
    color: var(--hoverColor);
}

#wrapper #proceed{
    display: block;
    background: var(--Brightblue);
    color: #FFFFFF;
    padding: 15px 0px;
    border-radius: 10px;
    font-weight: 600;
    margin: 15px 0px;
    /* box-shadow: 3px 3px 12px hsl(245, 81%, 64%); */
}
#wrapper #proceed:hover{
    background: var(--hoverColor);
}

#wrapper #cancel{
    margin: 15px 0px;
    font-weight: 650;
    color: var(--Desaturatedblue);
}
#wrapper #cancel:hover{
    color: var(--Darkblue);
}


@media (min-width:900px){
    .card{
        width: 40%;
    }
    .card #wrapper{
        padding: 30px;
    }
}

@media (min-width:1440px){
    body{
        width: 100%;
        background: url('/images/pattern-background-desktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: var(--Paleblue);
    }
    .card{
        width: 25%;
    }
}


