@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
body{
    width: 100%;
    background: url('/images/pattern-background-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}
a{
    text-decoration: none;
    color: inherit;
}
.card{
    margin-top: 50px;
    width: 30%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.card img{
    width: 100%;
}
.card #wrapper{
    padding: 30px;
    background-color: inherit;
}
#wrapper h1{
    
}
#wrapper p{
    margin: 20px 0px;
    color: hsl(224, 23%, 55%);
}
#wrapper #proceed{
    display: block;
    background: hsl(245, 75%, 52%);
    color: #FFFFFF;
    padding: 15px 0px;
    border-radius: 10px;
    font-weight: 600;
    margin: 15px 0px;
}